#main-title{
    text-align: center;
    color:red;
    font-size: 45px;
}

.title {
    color:orange;
    text-align: center;
}

.textbox{
    display: block;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(78, 196, 180);
}

#submit{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.textbox-final{
    display: block;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(78, 196, 180);
}

body{
    background-image: url("background.jpg");
    background-size: cover;
}
